<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>

<body>

<h2>Checkout 🧾</h2>

<form>
    <input type="text" placeholder="Full Name"><br><br>
    <input type="text" placeholder="Address"><br><br>
    <input type="text" placeholder="Phone Number"><br><br>

    <h3>Payment Method</h3>
    <select>
        <option>Cash on Delivery</option>
        <option>UPI</option>
        <option>Card</option>
    </select><br><br>

    <button type="submit">Place Order ✅</button>
</form>

</body>
</html>